:root {
  --color-1: rgb(136, 238, 208);
  --color-2: rgb(242, 205, 79);
  --color-3: rgb(202, 224, 129);
  --color-4: rgb(246, 139, 54);
  --color-5: rgb(245, 245, 245);
}

.text-Do {
  color: var(--color-2);
}

.spanNumerTodo {
  font-size: 41px;
}

.spanNumerTodoCompleted {
  font-size: 41px;
}

#inputNewTask {
  font-size: 19px !important;
  box-shadow: none;
}

.form-control {
  height: 70px;
  font-size: 30px;
}

.btn-New-task {
  background-color: var(--color-1) !important;
}
.btn-New-task:hover {
  background-color: var(--color-5) !important;
  border: 1px solid black !important;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  align-items: center;
  height: 75px;
  cursor: pointer;
}

li img {
  margin: 10px;
}

li:hover {
  border: 1px solid black;
}
